<!-- index.html -->
<!doctype html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title>Dota 2 GSI</title>

	  <!-- CSS -->
	  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
	  <!-- main body of our application -->
	  <div class="container" id="gamestate">
		<table v-if="gamestates">
			<tr v-for="gamestate in gamestates">
				<td>
					<span>{{ gamestate.player.name }}</span>
				</td>
				<td>
					<img src="https://yasp.co/apps/dota2/images/heroes/{{ gamestate.hero.name }}_full.png" style="height: 24px" />
				</td>
				<td>
					<span>{{ gamestate.player.last_hits }}</span>
				</td>
				<td>
					<span>{{ gamestate.player.denies }}</span>
				</td>
			</tr>
	  </div>

	  <!-- JS -->
	  <script src="node_modules/vue/dist/vue.js"></script>
	  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
	  <script src="/socket.io/socket.io.js"></script>
	  <script src="app.js"></script>
	</body>
</html>